body{
    background-color: grey;
    content: center;
    display: table;
}

hr{
    width:1000px ;
}

.box{
    width: 1000px;
    height:900px;
    border: 2px solid white;
    border-radius: 25px;
    padding: 100px;
    margin: 50px;
    background-color:white;
}


.footer {
    width: 1000px;
    height: fit-content;
    /* float: left; */
    vertical-align: bottom;
    border:  solid teal;
    background-color:teal;
    color: black;
    border-radius: 25px;
    clear:both;
    margin: 0 auto;
    padding: 2px;
    display: inline-block;
  }

  .footer .firt{
    text-align: left;
    margin: 0;
  }

  .footer .sec{
    text-align: center;
    margin: 0;
  }

  .footer .third{
    text-align: right;
    margin: 0;
  }

.attention{
    width:180px;
    height: fit-content;
    border: 2px solid black;
    float: right;
    vertical-align: top;
}
.ins_login{
    width:fit-content;
    height: fit-content;
    background-color: gray;
    padding:20px;
    margin: 20px;
    border-radius: 20px;
    text-align: right;
    float: left;
    vertical-align: top;
}
.stu_login{
        
        width:fit-content;
        height: fit-content;
        background-color: gray;
        padding:20px;
        margin: 20px;
        border-radius: 20px;
        text-align: right;
        float: left;
        vertical-align: top;
        
}
button{
    cursor: pointer;
    background-color: teal;
    color:white;
    border: 2px ;
    border-radius: 2px;
}


form{
    color: white;
}

.heading{
    color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size:30px;
}

.sub_heading{
    color:teal;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: left;
}

.logo{
    float: left;
    vertical-align: top;
}

.greeting{
    width: 800px;
    height:fit-content;
    border: 2px solid white;
    padding: 50px;
    margin: 20px;
    text-align: center;
    background-color:teal;
    color: white;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}